<%= javascript_include_tag('https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places') %>
<% readonly = readonly and readonly == 'true' %>
<%= form_for(@person, html: {class: 'form-horizontal', :multipart => true}) do |f| %>
  <%= f.hidden_field :category, :value => @person.category %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, class: 'col-sm-2 control-label required' %>
    <div class="col-sm-10">
    	<%= f.text_field :name, class: 'form-control', readonly: readonly, :required => true %>
    </div>
  </div>
  <% if @person.is_person? %>
  <div class="field form-group">
    <%= f.label :first_name, class: 'col-sm-2 control-label required' %>
    <div class="col-sm-10">
    	<%= f.text_field :firstname, class: 'form-control', readonly: readonly, :required => true %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :online_profile, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	<%= f.text_field :profile, class: 'form-control', readonly: readonly %>
    </div>
  </div>
  <% else %>
  <div class="field form-group">
    <%= f.label :url, class: 'col-sm-2 control-label required' %>
    <div class="col-sm-10">
    	<%= f.text_field :url, class: 'form-control', readonly: readonly, :required => true %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :description, class: 'col-sm-2 control-label required' %>
    <div class="col-sm-10">
    	<%= f.text_area :description, class: 'form-control', readonly: readonly, :required => true %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :company_type, class: 'col-sm-2 control-label required' %>
    <div class="col-sm-10">
    	<%= f.select :company_type, Person.company_types.keys.to_a.map { |w| [w.humanize, w] }, { include_blank: true }, { :class => 'form-control', :required => true, :disabled => readonly } %>
   	</div>
  </div>
  <% end %>
  <div class="field form-group">
  	<label class="col-sm-2 control-label required">Specificities</label>
    <div class="col-sm-10">
    	<%= f.text_area :characteristics, class: 'form-control', readonly: readonly, :required => true  %>
   	</div>
  </div>
  <% 
  gm_id = ''
  gm_label = ''
  if @hq and @hq.count
  	@hq.each do |k, v|
  	  gm_id = k
  	  gm_label = v
  	end
  end
  %>
  <div class="field form-group">
  	<label class="col-sm-2 control-label required">HQ</label>
  	<div class="col-sm-10">
  		<input type="text" class="form-control has-places" name="person[hq_name]" id="hq" data-target-id="hq_id" value="<%= gm_label %>" required="required"<% if readonly %> readonly="readonly"<% end %>>
  		<input type="hidden" name="person[hq_id]" id="hq_id" value="<%= gm_id %>" required="required">
  	</div>
  </div>
  <% if @person.is_person? %>
  <div class="field form-group">
    <%= f.label :languages, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
		<input type="text" class="form-control languagable" name="person[languages]" id="languages" value="<% 
		@person.langs.each do |l| %>
			<%= l.name %>, 
		<% end %>"<% if readonly %> readonly="readonly"<% end %>>
   	</div>
  </div>
  <% else %>
  <% if not readonly %>
  <div class="field form-group">
  	<label class="col-sm-2 control-label">Localizations</label>
  	<div class="col-sm-10">
  		<input type="text" class="form-control has-places" name="localization_field" id="localization_1" data-multiple-list-id="localizations" data-multiple-format-name="person[localizations][%i][%s]" value="">
  	</div>
  </div>
  <% end %>
  <div class="field form-group">
  	<label class="col-sm-2 control-label"><% if readonly %>Localizations<% end %></label>
  	<div class="col-sm-10">
  		<ul id="localizations">
  			<% 
			  if @localizations and @localizations.count
			  	#nbitem = 0
			  	@localizations.each do |k, v|
			  		#nbitem += 1
					elm_id = 'place_item_' + k %>
					
			<li id="<%= elm_id %>">
				<%= v %>
				<a href="#" id="<%= elm_id %>_removelink" data-remove-id="<%= elm_id %>">remove</a>
				<input type="hidden" name="person[localizations][<%= k %>][id]" value="<%= k %>">
				<input type="hidden" name="person[localizations][<%= k %>][name]" value="<%= v %>">
			</li>
			<%
			  	end
			  end
			%>
  		</ul>
  	</div>
  </div>
  <div class="field form-group">
    <%= f.label :contact_name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	<%= f.text_field :contact_name, class: 'form-control', readonly: readonly %>
    </div>
  </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :tags, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
		<input type="text" class="form-control taggable" name="person[tags]" id="tags" value="<%
		@person.tag_assoc.each do |ta| %>
			<%= ta.tag.tag %>, 
	  	<% end %>"<% if readonly %> readonly="readonly"<% end %>>
   	</div>
  </div>
  <% if not readonly %>
  <div class="form-group">
    <%= f.label :file, class: 'col-sm-2 control-label' %>
  	<%= file_field 'upload', 'datafile' %>
  </div>
  <% end %>
  <% if @person.persisted? %>
  <div class="form-group">
  	<%= f.label "Related Content", class: 'col-sm-2 control-label' %>
  	<div class="col-sm-10">
	  	<% 
	  	if @associatedElements 
	  		@associatedElements.each do |elm| %>
			<%= 
			if @person == elm.element1
	  			render 'components/linked_internal_element', :element => elm.element2
	  		elsif @person == elm.element2 
	  			render 'components/linked_internal_element', :element => elm.element1 
	  		end 
	  		%>
	  	<% 
	  		end
	  	end %>
	  	<% if not readonly %>
	  		<a href="/search?ajax=true" role="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" data-item-type="<%= @person.class.to_s %>" data-item-id="<%= @person[:id].to_s %>">Manage Relations</a>
		<% end %>
	</div>
  </div>
  <% end %>
  <% if not readonly %>
  <div class="actions form-group">
  	 <div class="col-sm-offset-2 col-sm-10">
	    <%= f.submit %>
	 </div>
  </div>
  <% else %>
  	<div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
    	<%= link_to 'Edit', edit_person_path, class: 'btn btn-default' %>
    	<%= link_to 'Delete', person_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  </div>
  <% end %>
<% end %>

<%= render 'components/ajax_modal', :modal_title => 'myModal' %>
