<%= form_for(@person, html: {class: 'form-horizontal'}) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	<%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :url, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	<%= f.text_field :url, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :description, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	<%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :nb_people, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	<%= f.number_field :nb_people, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :adresse, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	<%= f.text_area :adresse, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :contact_name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	<%= f.text_field :contact_name, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :files, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	<%= f.text_field :files, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :tags, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	<%= f.text_field :tags, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :expertises, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	<%= f.text_field :expertises, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :user, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	<%= f.select :user_id, options_for_select(User.all.map{|s|[s.firstname, s.id]}), class: 'form-control' %>
    </div>
  </div>
  <div class="actions form-group">
  	 <div class="col-sm-offset-2 col-sm-10">
	    <%= f.hidden_field :category, :value => :enterprise %>
	    <%= f.submit %>
	 </div>
  </div>
<% end %>




















