<%= @search.total.to_s + " results for " %> <i><b><%= @query %></b></i>

<table class="table table-hover">
	<thead>
	    <tr>
	    	<th>Title</th>
	    	<th>Author</th>
	    	<th>Category</th>
	    	<th colspan="3"></th>
	    </tr>
	</thead>
	<tbody>
		<% @search.results.each do |result| %>
		<tr>
			<td><%= (result[:name]) ? result[:name] : result[:title] %></td>
			<td><%= @users[result[:user_id]] %></td>
			<td><%= result.getCat %></td>
			<td>
				<a href="<%= url_for controller: result.class.to_s.pluralize.downcase, action: "show", id: result[:id], params: { ajax: 'true', no_search_bar: 'true' } %>" role="button" class="btn btn-default" data-toggle="modal" data-target="#showPopin" data-item-type="<%= result.class.to_s %>" data-item-id="<%= result[:id].to_s %>">Show</a>
				<a href="<%= url_for controller: result.class.to_s.pluralize.downcase, action: "edit", id: result[:id] %>" type="button" class="btn btn-primary">Edit</a>
			</td>
		</tr>
		<% end %>
</table>
<%= render 'components/ajax_modal', :modal_title => 'showPopin' %>
