<div class="col-xs-12">
	<%= link_to 'Technology', new_technology_path, class: 'btn btn-primary' + (controller.class.name == 'TechnologiesController' ? ' active' : '') %>
	<%= link_to 'Enterprise', new_person_path, class: 'btn btn-primary' + (controller.class.name == 'EnterprisesController' ? ' active' : '') %>
	<%= link_to 'People', new_technology_path, class: 'btn btn-primary' + (controller.class.name == 'PeoplesController' ? ' active' : '') %>
	<%= link_to 'Idea', new_technology_path, class: 'btn btn-primary' + (controller.class.name == 'IdeasController' ? ' active' : '') %>
	<%= link_to 'Document', new_document_path, class: 'btn btn-primary' + (controller.class.name == 'DocumentsController' ? ' active' : '') %>
</div>
