<!-- 
<% baseurl = request.original_url + (request.original_url.include?('?') ? '&' : '?') %>
<div class="col-xs-12">
	Filter: 
	<%= link_to 'Technology', baseurl + 'filter=technology', class: 'btn btn-link' + (params[:filter] == 'technology' ? ' active' : '') %>
	<%= link_to 'Enterprise', baseurl + 'filter=enterprise', class: 'btn btn-link' + (params[:filter] == 'enterprise' ? ' active' : '') %>
	<%= link_to 'People', baseurl + 'filter=people', class: 'btn btn-link' + (params[:filter] == 'people' ? ' active' : '') %>
	<%= link_to 'Idea', baseurl + 'filter=idea', class: 'btn btn-link' + (params[:filter] == 'idea' ? ' active' : '') %>
	<%= link_to 'Document', baseurl + 'filter=document', class: 'btn btn-link' + (params[:filter] == 'document' ? ' active' : '') %>
</div>
-->