<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @document.location %>
</p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @document.tags %>
</p>

<p>
  <strong>Type:</strong>
  <%= @document.category %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
