<% readonly = readonly and readonly == 'true' %>
<%= form_for(@technology, html: {class: 'form-horizontal', :multipart => true}) do |f| %>
  <% if @technology.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@technology.errors.count, "error") %> prohibited this technology from being saved:</h2>

      <ul>
      <% @technology.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, class: 'col-sm-2 control-label required' %>
    <div class="col-sm-10">
    	<%= f.text_field :name, class: 'form-control', readonly: readonly, :required => true	  %>
   	</div>
  </div>
  <div class="field form-group">
    <%= f.label :url, class: 'col-sm-2 control-label required' %>
    <div class="col-sm-10">
    	<%= f.text_field :url, class: 'form-control', readonly: readonly, :required => true  %>
   	</div>
  </div>
  <div class="field form-group">
    <%= f.label :editor, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	<%= f.text_field :editor, class: 'form-control', readonly: readonly  %>
   	</div>
  </div>
  <div class="field form-group">
    <%= f.label :license, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	<%= f.select :license, Technology.licenses.keys.to_a.map { |w| [w.humanize, w] }, { include_blank: true }, { :class => 'form-control', :disabled => readonly } %>
   	</div>
  </div>
  <div class="field form-group">
    <%= f.label :pricing, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	<%= f.select :pricing, Technology.pricings.keys.to_a.map { |w| [w.humanize, w] }, { include_blank: true }, { :class => 'form-control', :disabled => readonly } %>
   	</div>
  </div>
  <div class="field form-group">
    <label class="col-sm-2 control-label required">What is this for?</label>
    <div class="col-sm-10">
    	<% if readonly %>
    		<p class="readonly-textarea"><%= @technology.description %></p>
    	<% else %> 
    		<%= f.text_area :description, class: 'form-control', readonly: readonly, :required => true  %>
    	<% end %>
   	</div>
  </div>
  <div class="field form-group">
    <label class="col-sm-2 control-label required">Specificities</label>
    <div class="col-sm-10">
    	<% if readonly %>
    		<p class="readonly-textarea"><%= @technology.characteristics %></p>
    	<% else %> 
    		<%= f.text_area :characteristics, class: 'form-control', readonly: readonly, :required => true  %>
   		<% end  %>
   	</div>
  </div>
  <div class="field form-group">
    <%= f.label :tags, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	<% if not readonly %>
    		<input type="text" class="form-control taggable" name="technology[tags]" id="tags" value="<%
			@technology.tag_assoc.each do |ta| %>
				<%= ta.tag.tag %>, 
		  	<% end %>">
		<% else %>
			<ul>
			<% @technology.tag_assoc.each do |ta| %>
				<li><%= ta.tag.tag %></li>
		  	<% end %>
		  	</ul>
		<% end %>
   	</div>
  </div>
  <% if not readonly %>
  <div class="form-group">
    <%= f.label :file, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
  		<%= file_field 'upload', 'datafile' %>
  	</div>
  </div>
  <% end %>
  <% if @technology.persisted? %>
  <div class="form-group">
  	<%= f.label "Related Content", class: 'col-sm-2 control-label' %>
  	<div class="col-sm-10">
		  	<% if @associatedElements 
		  		@associatedElements.each do |elm| %>
				<%= 
				if @technology == elm.element1
		  			render 'components/linked_internal_element', :element => elm.element2
		  		elsif @technology == elm.element2 
		  			render 'components/linked_internal_element', :element => elm.element1 
		  		end 
		  		%>
		  	<% end
		  	end %>
		  	<% if not readonly %>
		  		<a href="/search?ajax=true" role="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" data-item-title="<%= @technology.getTitle %>" data-item-type="<%= @technology.class.to_s %>" data-item-id="<%= @technology[:id].to_s %>">Manage Relations</a>
			<% end %>
	</div>
  </div>
  <% end %>
  <% if not readonly %>
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
    	<%= f.submit %>
    </div>
  </div>
  <% else %>
  	<div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
    	<%= link_to 'Edit', edit_technology_path, class: 'btn btn-primary' %>
    	<%= link_to 'Delete', technology_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
    </div>
  </div>
  <% end %>
<% end %>

<%= render 'components/ajax_modal', :modal_title => 'myModal' %>
